<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="${title}"></title>


<link rel="stylesheet" type="text/css"
	href="../static//assets/css/dataTables.bootstrap.css"
	th:href="@{/assets/css/dataTables.bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	href="../static//assets/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static//assets/css/jquery.dataTables.css"
	th:href="@{/assets/css/jquery.dataTables.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/assets/css/bootswatch.css"
	th:href="@{/assets/css/bootswatch.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/assets/css/myStyle.css"
	th:href="@{/assets/css/myStyle.css}" />

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="Moez Boukhari" />

</head>
<body>


	<header>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-md  navbar-light bg-secondary">
			<div class="container">

				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li id="home" class="nav-item"><a class="nav-link"
							th:href="@{/home}">Home <span class="sr-only">(current)</span>
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div id="wrap">
		<div id="main" class="container clear-top">
			<div class="jumbotron">
				<h1 class="display-4" th:text="${errorTitle}"></h1>
				<p class="lead" th:text="${errorDescription}"></p>
				<hr class="my-4">
				<p>Wrong way.</p>
				<a class="btn btn-danger btn-lg" th:href="@{/home}" role="button">Home</a>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class=" card-footer text-muted ">
		<nav class="navbar-fixed-bottom">
			<p class="m-0 text-center text-dark">Copyright &copy; Shopping on
				line.</p>

			<!-- /.container -->
		</nav>
	</footer>
	<script src="../static/assets/js/jquery.js"
		th:src="@{/assets/js/jquery.js}"></script>

	<script src="../static/assets/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.min.js}"></script>


	<script src="../static/assets/js/jquery.dataTables.js"
		th:src="@{/assets/js/jquery.dataTables.js}"></script>


	<script src="../static/assets/js/myScript.js"
		th:src="@{/assets/js/myScript.js}"></script>

</body>
</html>