<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template2">
<head>


<title th:text="${title}"></title>

</head>

<body>


	<!-- Navigation -->
	<!-- Page Content -->
	<div layout:fragment="cont" class="container">
		<div th:if="${userClickHome=='true'}">
			<div th:insert="@{/home}"></div>
		</div>

		<div th:if="${userClickAbout=='true'}">
			<div th:insert="@{/about}"></div>
		</div>
		<div th:if="${userClickContact=='true'}">
			<div th:insert="@{/contact}"></div>

		</div>
		<script th:inline="javascript">
					/*<![CDATA[*/
					
					    window.categoryId =null ;
					
					
					/*]]>*/
</script>
		<div th:if="${userClickProducts=='true'}">
			<div th:insert="@{/products}"></div>
		</div>
		
		<div th:if="${userClickManageProducts=='true'}">
			<div th:insert="@{/manageProducts}"></div>
		</div>
		
		
	<div th:if="${userClickProduct=='true'}">
			<div th:insert="@{/product}"></div>
		</div>

	<div th:if="${userClickCategProducts=='true'}">
		<script th:inline="javascript">
					/*<![CDATA[*/
					
					    window.categoryId = /*[[${category.id}]]*/ ;
					
					
					/*]]>*/
          </script>
		<div th:insert="@{/products}"></div>
	</div>
	<!-- /.container -->
	</div>
</body>

</html>