<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template2">
  <head>


    <title th:text="${title}"></title>

  </head>

  <body>

    <!-- Navigation -->
      <!-- Page Content -->
<div layout:fragment="cont" class="container" >
<div th:if="${userClickHome=='true'}">
 <div  th:insert="@{/home}" ></div>
</div>

<div th:if="${userClickAbout=='true'}">
 <div  th:insert="@{/about}" ></div>
</div>
<div th:if="${userClickContact=='true'}">
 <div  th:insert="@{/contact}" ></div>
 
</div>
    </div>
    <!-- /.container -->
         

   


  </body>

</html>